

  
    <div id="feed" >



      <!-- <img value='1' id="img" src="https://www.birthdaymessagesstatus.com/wp-content/uploads/2018/08/Stylish-Attitude-Girl-Images-for-FB-Profile-Pic.jpg">
       <img value='2' id="img" src="https://thumbs.dreamstime.com/b/real-normal-person-portrait-22299720.jpg">
       <img value='3' id="img" src="https://piximus.net/media/6621/portraits-of-people-87.jpg">
       <img value='4' id="img" src="https://4.bp.blogspot.com/_cG2SV6Pnny4/SVEMe3VpLEI/AAAAAAAABic/tysh9iiyGuQ/s400/12_b.jpg">
       
      -->
      <% for(var i=0; i<posts2.length; i++) {%>
    
       <%if(posts2[i].user != user.id){ %>
        <div id="container3">
             <img onclick="document.getElementById(`${<%=[i]%>}`).style.display = 'flex';document.getElementById('feed').style.display = 'none' "  class="<%=[i]%>" id="img-multi-user" src="<%= posts2[i].lowresimage%>"  >
            
             <div id="text-block" onclick="document.getElementById(`${<%=[i]%>}`).style.display = 'flex';document.getElementById('feed').style.display = 'none' ">
              <span id="backgroundColor">
              <span><%- posts2[i].name %></span>
              <span><%- posts2[i].title %></span>              
             <span><%- posts2[i].icons %></span>
             </span>
            </div>
          </div>
            
            
            
            
             <% } %>    
         <% } %>
 
 
 
 
 
         <% for(var i=0; i<post.length; i++) {%>
    

             <div id="container3">
           <img style="width:100%;" onclick="document.getElementById('myProfile2').style.display = 'flex';document.getElementById('feed').style.display = 'none' "  class="<%=[i]%>" id="img-multi-user" src="<%= post[i].image%>"  >
           <div id="text-block" onclick="document.getElementById('myProfile2').style.display = 'flex';document.getElementById('feed').style.display = 'none' ">
             
            <span id="backgroundColor">
             <span><%- user.userName %></span>
             <span><%- post[0].title %></span>
             <span><%- post[0].icons %></span>
             </span>
           </div>
         </div>
 
 
 
       <% } %>

         







 
  <!-- <style>
       function getIcon(){
        l
        //myIcons.forEach((x,index) => x.includes(inputz.value) ? console.log(x) + icons.console.log(index) : '')
        myIcons.filter(x => x.includes(inputz.value) ? document.getElementById('iconz').innerText = `${x}` : '')
        // // console.log(inputz.value)
    }
    </style> -->



      

         <span class="iconify" data-icon="node" data-inline="false"></span>
         
     </div>
 
      </div>
   </div>
 