<div id="feed">
  <% for(var i=0; i<posts2.length; i++) {%>
    <%if(posts2[i].user){ %>
    <div
      id="container3"
      onclick="scrollLoc() ,toggleHeader() , scrollBottom(),topAcross(), document.getElementById(`${<%=[i]%>}`).style.display = 'flex';document.getElementById('feed').style.display = 'none';"
    >
      <img
        onclick="openProfile(`${i}`)"
        class="<%=[i]%>"
        id="img-multi-user"
        src="<%= posts2[i].image%>"
      />

      <div id="text-block">
        <span id="card-info">
          <div id="backdrop"><%- posts2[i].name %></div>
          <div id="backdrop"><%- posts2[i].title %></div>
          <div id="backdrop"><%- posts2[i].icons %></div>
        </span>
      </div>
    </div>

    <% } %> <% } %>
     <% for(var i=0; i<posts2.length; i++) {%>
    <%if(posts2[i].user){ %>
    <div
      id="container3"
      onclick="scrollLoc() ,toggleHeader() , scrollBottom(),topAcross(), document.getElementById(`${<%=[i]%>}`).style.display = 'flex';document.getElementById('feed').style.display = 'none';"
    >
      <img
        onclick="openProfile(`${i}`)"
        class="<%=[i]%>"
        id="img-multi-user"
        src="<%= posts2[i].image%>"
      />

      <div id="text-block">
        <span id="card-info">
          <div id="backdrop"><%- posts2[i].name %></div>
          <div id="backdrop"><%- posts2[i].title %></div>
          <div id="backdrop"><%- posts2[i].icons %></div>
        </span>
      </div>
    </div>
    <% } %> <% } %>
  </posts2.length;>
</div>
