<div id="feed">
    <% for(var i=0; i<posts2.length; i++) {%>
        <%if(posts2[i].user != user.id){ %>
            <div id="container3">
                <img onclick="document.getElementById(`${<%=[i]%>}`).style.display = 'flex';document.getElementById('feed').style.display = 'none' " class="<%=[i]%>" id="img-multi-user" src="<%= posts2[i].lowresimage%>">
                <div id="text-block" onclick="document.getElementById(`${<%=[i]%>}`).style.display = 'flex';document.getElementById('feed').style.display = 'none' ">
                    <span id="backgroundColor">
        <span><%- posts2[i].name %></span>
                    <span><%- posts2[i].title %></span>
                    <span><%- posts2[i].icons %></span>
                    </span>
                </div>
            </div>
            <% } %>
                <% } %>
                    <% for(var i=0; i<post.length; i++) {%>
                        <div id="container3">
                            <img style="width:100%;" onclick="document.getElementById('myProfile2').style.display = 'flex';document.getElementById('feed').style.display = 'none' " class="<%=[i]%>" id="img-multi-user" src="<%= post[i].image%>">
                            <div id="text-block" onclick="document.getElementById('myProfile2').style.display = 'flex';document.getElementById('feed').style.display = 'none' ">
                                <span id="backgroundColor">
        <span><%- user.userName %></span>
                                <span><%- post[0].title %></span>
                                <span><%- post[0].icons %></span>
                                </span>
                            </div>
                        </div>
                        <% } %>
                            <span class="iconify" data-icon="node" data-inline="false"></span>
</div>
</div>
</div>