<!-- <h1>user length <%= posts2.length %> match? Profile of current user goes here: <%- user.id %>
</h1> -->


<% for(var i=0; i<posts2.length; i++) {%>
    <%if(posts2[i].user == user.id){ %>
        <!-- <img onclick="document.getElementById('feed').style.display= 'none';"  src="<%= posts2[i].image%>"  >
  -->
    


        


        <div id='bgimage' style="display: flex">
        <div  id="<%=[i]%>"  class="container-view" style="display: flex"></div>
          <div id='x' onclick=" minimize();" style="z-index: 20;">x</div>
          <div style="background-image: url('<%= posts2[i].image%>'); width:100%; z-index: 5; height: 50vh; background-size: cover; background-position: center; border-radius: 20px 20px 0px 0px;" class="<%=[i]%>" id="img"></div>
          <div id="add-posts">
          
    
         
    <div id='likebox'>
    
    
    <%if(posts2[i].user == user.id){ %>
    <form
      action="/post/deletePost/<%= posts2[i]._id %>?_method=DELETE"
      method="POST"
      class="row-6 justify-content-between  "
    >
      <button class="btn btn-primary fa fa-trash" type="submit" onclick="return confirm('Are you sure you want to delete?')"></button>
    </form>
    <%}%>
    
    
           <!-- <form
          class="row-6 justify-content-between  "
          action="/post/likePost/<%= posts2[i]._id %>?_method=PUT"
          method="PUT"
        >
       
          <button class="btn btn-primary fa fa-heart" type="submit"> <%= posts2[i].likes %></button>
        </form>  -->
        
    
    
    
        </div>
    
        <!-- <div class="" id='likes'> <%= posts2[i].likes %></div> -->
    
    
        
        <!-- <%= posts2[i]._id%>
          
        Posts: <%= posts2[i]%>
        Name: <%= posts2[i].name%>
        Title: <%= posts2[i].title%>
        Caption: <%= posts2[i].caption%>
       
         <%= posts2.user %> -->
    
    
    
    
        
      <div id="user-info1">
        
          
          
                     
                      <h4><%= posts2[i].name ?   posts2[i].name : '' %></h4>
                      <h4><%= posts2[i].title ?  posts2[i].title : '' %></h4>
                      
                      <a href="<%=posts2[i].contact%>"><%= posts2[i].contact ?   posts2[i].contact : '' %></a>
                      <a href="https://<%=posts2[i].website%>"><%= posts2[i].website ?   posts2[i].website : '' %></a>
             
                </div>
                <div id='across'> 
                <div>
                  <h1>Comments:</h1>
    
                          <% for(var j=0; j < posts2[i].comments.length; j++) {  %>
    
            
                          
                       
                            <h1 id="comment-box" ><%= posts2[i].comments[j].comments  %></h1> 
                              
                             
                         
                         <% } %>
                         
                       </div>
                       
    
         <!-- <%= posts2[i].comments  ? posts2[i].comments[0] : 'No comments added yet.'  %>  -->
        </div>
           
        <form  class="col-10 w-100" 
        action="/post/commentPost/<%= posts2[i]._id %>?_method=PUT"  
        enctype="multipart/form-data"
        method="POST"
        >
        <div id="post-comment-box" class="text-center">
          
    
        
        
    
    
    
          <input type="text" class="form-control" name="comments" id='sendComment'></input>
        </div>
      <button type="submit" class="btn btn-primary text-center w-100 rounded-bottom" value="comments" >Post comment!</button>
                  </form>
        
          </div>
          
       
    
    
      </div>  
    
    
    
                  
    
    
    
    
    
    
    
                  </div>
        
    </div>
    </div>
      <% } %>        <% } %>