
  <%- include('partials/header') -%>


  <div id="mainContainer">
          
          
    <div id="secondContainer">
          

 
  <section id="main">
    <div id="feed" onclick="var scrolly = window.pageYOffset; console.log(scrolly) " >
     <!-- <img value='1' id="img" src="https://www.birthdaymessagesstatus.com/wp-content/uploads/2018/08/Stylish-Attitude-Girl-Images-for-FB-Profile-Pic.jpg">
      <img value='2' id="img" src="https://thumbs.dreamstime.com/b/real-normal-person-portrait-22299720.jpg">
      <img value='3' id="img" src="https://piximus.net/media/6621/portraits-of-people-87.jpg">
      <img value='4' id="img" src="https://4.bp.blogspot.com/_cG2SV6Pnny4/SVEMe3VpLEI/AAAAAAAABic/tysh9iiyGuQ/s400/12_b.jpg">
      
     -->
     <% for(var i=0; i<posts2.length; i++) {%>
      <!-- <li class=""> -->
        
          <img onclick="document.getElementById('feed').style.display= 'none';" class="<%=[i]%>" id="img" src="<%= posts2[i].image%>"  >
           <!-- </li> -->
           <div id="img-box">
            <h1> Name: <%= posts2[i].name%></h1>
            <h1>Title: <%= posts2[i].title%></h1>
              <!-- <h1>Caption: <%= posts2[i].caption%></h1> -->
             </div>
      <!-- </li> -->
    <% } %>
<!--     
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?person?random=1">
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?portrait?random=2">
      
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?portrait?random=3">
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?portrait?random=4">
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?human?random=5">
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?man?random=6">
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?woman?random=7">
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?friends?random=8">
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?wedding?random=9">
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?bride?random=10">
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?groom?random=11">
      
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?hiking?random=3">
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?boating?random=4">
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?group?random=5">
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?event?random=6">
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?gathering?random=7">
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?person?random=8">
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?person?random=9">
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?person?random=10">
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?person?random=11">
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?person?random=12">
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?person?random=13">
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?person?random=14">
      <img value='4' id="img" src="https://source.unsplash.com/random/900×700/?person?random=15"> -->
      
     

    </div>
     </div>
  </div>





    
    
    </span>
    </div></div></div>
    <div>
      <!-- <p><strong>User Name</strong>: <%= user.userName %></p>
      <p><strong>Email</strong>: <%= user.email %></p>
      <a href="/logout" class="col-3 btn btn-primary">Logout</a>
  </div> -->
      <div id='toggle-view-element'>
        
          <div id="add-posts1">
            <h1 class="text-center">Add a post</h1>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                <h1><label for="name" class="form-label">Name</label></h1>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
              <h1><label for="title" class="form-label">Title</label></h1>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <!-- <div class="mb-3">
                <h1><label for="stack" class="form-label">Stack</label></h1>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div> -->
              <div class="mb-3">
                <h1><label for="website" class="form-label">Website</label></h1>
                <textarea class="form-control" id="website" name="website"></textarea>
              </div>
              <div class="mb-3">
                <h1><label for="contact" class="form-label">Contact</label></h1>
                <textarea class="form-control" id="contact" name="contact"></textarea>
              </div>
              <h1><label for="imgUpload" class="form-label">Image</label>
               
                      <img id="output"/>
                <input type="file" accept="image/*" onchange="loadFile(event)" class="form-control" id="file" name="file">
              </div>
              <button type="submit" class="btn btn-primary"  value="Upload" onclick="toggleContent()">Submit</button>
            </form>
            <button onclick="toggleContent()" type="none" class="btn btn-primary"  value="cancel">Cancel</button>
          </div>
      </div>

       
      
 
</div>




<!-- <div id="mainContainer">
<div  id="secondContainer">
  <section id="main">
    <div id="feed" onclick="var scrolly = window.pageYOffset"> -->
  <!-- <div class="row justify-content-center mt-5"> -->

      <% for(var i=0; i<posts2.length; i++) {%>
        <div id='bgimage'>
        <div  id="<%=[i]%>"  class="container-view">
          <div id='x' onclick="this.parentNode.style.display = 'none'">x</div>
          <div style="background-image: url('<%= posts2[i].image%>'); width:100%; z-index: 5; height: 50vh; background-size: cover; background-position: center;" onclick="document.getElementById('feed').style.display= 'none'" class="<%=[i]%>" id="img"></div>
          <div id="add-posts">
          

         
<div id='likebox'>


  <%if(posts2[i].user == user.id){ %>
    <form
      action="/post/deletePost/<%= posts2[i]._id %>?_method=DELETE"
      method="POST"
      class="row-6 justify-content-between  "
    >
      <button class="btn btn-primary fa fa-trash" type="submit" onclick="return confirm('Are you sure you want to delete?')"></button>
    </form>
    <%}%>

    
          <form
          class="row-6 justify-content-between  "
          action="/post/likePost/<%= posts2[i]._id %>?_method=PUT"
          method="POST"
        >
       
          <button class="btn btn-primary fa fa-heart" type="submit"> <%= posts2[i].likes %></button>
        </form>
        



        </div>

        <!-- <div class="" id='likes'> <%= posts2[i].likes %></div> -->


        
        <!-- <%= posts2[i]._id%>
          
        Posts: <%= posts2[i]%>
        Name: <%= posts2[i].name%>
        Title: <%= posts2[i].title%>
        Caption: <%= posts2[i].caption%>
       
         <%= posts2.user %> -->




        
      <div class="col-14">
        
        <ul class="row list-unstyled">
          
          
                    <h1> Name: <%= posts2[i].name%></h1>
              <h1>Title: <%= posts2[i].title%></h1>
                <!-- <h1>Caption: <%= posts2[i].caption%></h1> -->
                
                <h1>Contact: <%= posts2[i].contact%></h1>
                
                <h1>Website: <%= posts2[i].website%></h1>
                <div id='across'> 
                <div>

                    <% for(var j=0; j < posts2[i].comments.length; j++) {  %>

            
                          
                       
                       <h1 id="comment-box" ><%= posts2[i].comments[j]  %></h1> 
                         
                        
                      </li>
                    <% } %>

         <!-- <%= posts2[i].comments  ? posts2[i].comments[0] : 'No comments added yet.'  %>  -->
        </div>
          </div>
          
          
          </ul>


      </div>  
    

        <form  class="col-10 w-100" 
          action="/post/commentPost/<%= posts2[i]._id %>?_method=PUT"  
          enctype="multipart/form-data"
          method="POST"
          >
          <div class="text-center">
            

          
          



            <input type="text" class="form-control" name="comments" id='sendComment'></input>
          </div>
        <button type="submit" class="btn btn-primary text-center w-100 rounded-bottom" value="comments" >Post comment!</button>
                    </form>

                  







                  </div>
        
  </div>
</div>
      <% } %>


    


  </div>
</div>  
</div>
</div>  
</div>






<%- include('partials/footer') -%>