
  <%- include('partials/header') -%>
  
  <div id="show-feed">
 
  
       <%- include('feed') -%>


     </div>



    
    
    </span>
    </div></div></div>
    <div>
      <!-- <p><strong>User Name</strong>: <%= user.userName %></p>
      <p><strong>Email</strong>: <%= user.email %></p>
      <a href="/logout" class="col-3 btn btn-primary">Logout</a>
  </div> -->
      <div id='add-profile'>
        
          <div id="add-posts1">
            <h1 class="text-center">Add a Profile</h1>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                <h1><label for="name" class="form-label">Name</label></h1>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
              <h1><label for="title" class="form-label">Title</label></h1>
                  <input type="text" class="form-control" id="title" name="title" required>
              </div>
              <!-- <div class="mb-3">
                <h1><label for="stack" class="form-label">Stack</label></h1>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div> -->
              <div class="mb-3">
                <h1><label for="website" class="form-label">Website</label></h1>
                <textarea class="form-control" id="website" name="website" required></textarea>
              </div>
              <div class="mb-3">
                <h1><label for="contact" class="form-label">Phone Number</label></h1>
                 <input type="text" class="form-control" id="phone" name="contact" required placeholder="(000) 000-0000"/>
              </div>
              <h1><label for="imgUpload" id="img-label" class="form-label">Image</label>
                      <img id="output"/>
                <input type="file" accept="image/*" onchange="loadFile(event)" class="form-control" id="file" name="file">
              
              <button type="submit" class="btn btn-primary"  value="Upload" onclick="toggleContent()">Submit</button>
            </form>
            <button onclick="toggleContent()" type="none" class="btn btn-primary"  value="cancel">Cancel</button>
          </div>
        </div>


        <div id='update-profile'>
        
          <div id="add-posts1">
            <h1 class="text-center">Update Profile</h1>
            <form action="/post/updateProfile/<%= user._id %>?_method=PUT" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                <h1><label for="name" class="form-label">Name</label></h1>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
              <h1><label for="title" class="form-label">Title</label></h1>
                  <input type="text" class="form-control" id="title" name="title" required>
              </div>
              <!-- <div class="mb-3">
                <h1><label for="stack" class="form-label">Stack</label></h1>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div> -->
              <div class="mb-3">
                <h1><label for="website" class="form-label">Website</label></h1>
                <textarea class="form-control" id="website" name="website" required></textarea>
              </div>
              <div class="mb-3">
                <h1><label for="contact" class="form-label">Phone Number</label></h1>
                <input type="text" class="form-control" id="phone1" name="contact" required placeholder="(000) 000-0000"/>
              </div>
              <h1><label for="imgUpload" id="img-label" class="form-label">Image</label>
                <img id="output2"/>
                <input type="file" accept="image/*" onchange="loadFile2(event)" class="form-control" id="file" name="file">
        
              <button type="submit" class="btn btn-primary"  value="Upload" >Submit</button>
            </form>
            <button onclick="updateProfile()" type="none" class="btn btn-primary"  value="cancel">Cancel</button>
          </div>
        </div>

        


      </div>

       
      
 
</div>

<div id='photo-wall'>
    
    <%- include('userPhotoWall') -%>
</div>


<div id='my-profile'>
    
  <%- include('myProfile') -%>
</div>

<div id='my-theme'>
    
  <%- include('myTheme') -%>
</div>


<div id='my-chat'>
    
  <%- include('myChat') -%>
</div>

<!-- just big pix -->
<div id="show-user">
  <%- include('showUser') -%>

</div>


    


  </div>
</div>  
</div>
</div>  
</div>






<%- include('partials/footer') -%>