<% for(var i=0; i<posts2.length; i++) {%>
    <div id="<%=[i]%>" class="container-view" style="display: none; z-index:30;" r>
        <div id='x' onclick=" document.getElementById(`${this.parentNode.id}`).style.display = 'none'; document.getElementById('feed').style.display = 'flex'" style="z-index:20">x</div>
        <div style="background-image: url('<%= posts2[i].image%>'); width:100%; z-index: 5; height: 100%; background-size: cover; background-position: center;  " class="<%=[i]%>" id="img"></div>
        <div id="add-posts">
            <div id='likebox'>
                <%if(posts2[i].user == user.id){ %>
                    <form action="/post/deletePost/<%= posts2[i]._id %>?_method=DELETE" method="POST" class="row-6 justify-content-between  ">
                        <button class="btn btn-primary fa fa-trash" type="submit" onclick="return confirm('Are you sure you want to delete?')"></button>
                    </form>
                    <%}%>
            </div>
            <div id="user-info1">
                <div id="top-row">
                    <span><%= posts2[i].name ?   posts2[i].name : '' %></span>
                    <span><%= posts2[i].title ?  posts2[i].title : '' %></span>
                </div>
                <div id='middle-row'>
                    <a id="icons" href="tel:<%= posts2[i].contact ?   posts2[i].contact : '' %>">
                        <span class="iconify" data-icon="fa-solid:phone-alt" data-inline="false"></span>
                    </a>
                    <a id="icons" href="sms:<%= posts2[i].contact ?   posts2[i].contact : '' %>">
                        <span class="iconify" data-icon="fa-solid:sms" data-inline="false"></span>
                    </a>
                    <a id="icons" href="https://<%- posts2[i].website ? posts2[i].website : '' %> ">
                        <span class="iconify" data-icon="dashicons:admin-site-alt3" data-inline="false"></span>
                    </a>
                    <!-- to use later
                    -->
                    <!-- <a id="icons" href="">
                        <span class="iconify" data-icon="entypo:location" data-inline="false"></span>
                    </a>
                    <a id="icons" href="">
                        <span class="iconify" data-icon="ic:outline-social-distance" data-inline="false"></span>
                    </a> -->
                </div>
                <div id="bottom-row">
                </div>
                <div id="row">
                    <span><%- posts2[i].icons %></span>
                </div>
                </span>
            </div>
            <div id='across' onclick="document.getElementById('add-posts').style.cssText = '' ">
                <div>
                    <h1 id="comment-box"></h1>
                    <% for(var j=0; j < posts2[i].comments.length; j++) {  %>
                       
                            <% for(var k=0; k < posts2.length; k++) {  %>
                                
                                   
                                   <%- (posts2[i].comments[j].postedBy.toString().trim() == posts2[k]?.user.toString().trim()) == true ? `<h1 id="commentName" onclick="document.getElementById('${[k]}').style.display = 'flex';document.getElementById('${(k !== i) ? [i] : ''}').style.display = 'none'"> ${posts2[k].name}  -  ${posts2[k].title}  </h1>   `  : '' %> 

                                   <%- (posts2[i].comments[j].postedBy.toString().trim() == posts2[k]?.user.toString().trim()) == true ? `<h1 id="comment-box2">  `  : '' %> 
                                   
                                   <%- (posts2[i].comments[j].postedBy.toString().trim() == posts2[k]?.user.toString().trim()) == true ? `<img id="userIcon" onclick="document.getElementById('${[k]}').style.display = 'flex';document.getElementById('${(k !== i) ? [i] : ''}').style.display = 'none'" src="${posts2[k]?.image.toString().trim()}">` : '' %>
                                   
                                   <%- (posts2[i].comments[j].postedBy.toString().trim() == posts2[k]?.user.toString().trim()) == true ? `<h1 id="comment"> ${posts2[i].comments[j].comments} </h1>` : '' %>
                                   
                                   <%- (posts2[i].comments[j].postedBy.toString().trim() == posts2[k]?.user.toString().trim()) == true ? `</h1">  `  : '' %> 
                                </h1>
                             <% } %>


                                            
                    <% } %>
                    </h1>
                                        
                </div>
            </div>
            <div id="post-comment-box" class="text-center">
                <form class="col-10 w-100" action="/post/commentPost/<%= posts2[i]._id %>?_method=PUT" enctype="multipart/form-data" method="POST">
                    <%if(post.length == 0){ %>
                        <div id='alert'>
                            <div id="dropdown-alert" onclick="toggleContent()" style="color:white; border-radius: 0px;"> Create a Profile to comment!</div>
                        </div>
                        <%}%>
                            <%if(post.length > 0){ %>
                                <input type="text" class="form-control" name="comments" class='sendComment' style="z-index:-1"></input>
                                <%- posts2[i].name ? `
                                
                                <button type="submit" class="submitComment btn btn-primary text-center w-100 rounded-bottom" value="comments" >Post Comment!</button>` : 'Please create a profile first!' %>
                              
                            </form>
            </div>
            <%}%>
        </div>
    </div>
    </div>
    </div>
    <% } %>
        <% for(var i=0; i<post.length; i++) {%>
            <div id="myProfile2" class="container-view">
                <div id='x' onclick=" document.getElementById('myProfile2').style.display = 'none'; document.getElementById('feed').style.display = 'flex'" style="z-index:30">x</div>
                <div style="background-image: url('<%= post[0].image%>'); width:100%; z-index: 5; height: 100%; background-size: cover; background-position: center; `" id="img"></div>
                <div id="add-posts">
                    <div id='likebox'>
                        <%if(post[0].user == user.id){ %>
                            <form action="/post/deletePost/<%= post[0]._id %>?_method=DELETE" method="POST" class="row-6 justify-content-between  ">
                                <button class="btn btn-primary fa fa-trash" type="submit" onclick="return confirm('Are you sure you want to delete?')"></button>
                            </form>
                            <%}%>
                    </div>
                    <div id="user-info1">
                        <div id="top-row">
                            <span><%= post[0].name ?   post[0].name : '' %></span>
                            <span><%= post[0].title ?  post[0].title : '' %></span>
                        </div>
                        <div id="middle-row">
                            <a id="icons" href="tel:<%= post[0].contact ?   post[0].contact : '' %>">
                                <span class="iconify" data-icon="fa-solid:phone-alt" data-inline="false"></span>
                            </a>
                            <a id="icons" href="sms:<%= post[0].contact ?   post[0].contact : '' %>">
                                <span class="iconify" data-icon="fa-solid:sms" data-inline="false"></span>
                            </a>
                            <a id="icons" href="https://<%- post[0].website ? post[0].website : '' %> ">
                                <span class="iconify" data-icon="dashicons:admin-site-alt3" data-inline="false"></span>
                            </a>
                            <!-- <a id="icons" href="">
                                <span class="iconify" data-icon="entypo:location" data-inline="false"></span>
                            </a>
                            <a id="icons" href="">
                                <span class="iconify" data-icon="ic:outline-social-distance" data-inline="false"></span>
                            </a> -->
                        </div>
                        <div id="bottom-row">
                        </div>
                        <div id="row">
                            <span><%- post[0].icons %></span>
                        </div>
                        </span>
                    </div>
                    <div id='across'>
                        <div>
                            <h1 id="comment-box"></h1>
                            <% for(var j=0; j < post[i].comments.length; j++) {  %>
                               
                                    <% for(var k=0; k < post.length; k++) {  %>
                                        
                                           
                                           <%- (post[i].comments[j].postedBy.toString().trim() == post[k]?.user.toString().trim()) == true ? `<h1 id="commentName" onclick="document.getElementById('${[k]}').style.display = 'flex';document.getElementById('${(k !== i) ? [i] : ''}').style.display = 'none'"> ${post[k].name}  -  ${post[k].title}  </h1>   `  : '' %> 
        
                                           <%- (post[i].comments[j].postedBy.toString().trim() == post[k]?.user.toString().trim()) == true ? `<h1 id="comment-box2">  `  : '' %> 
                                           
                                           <%- (post[i].comments[j].postedBy.toString().trim() == post[k]?.user.toString().trim()) == true ? `<img id="userIcon" onclick="document.getElementById('${[k]}').style.display = 'flex';document.getElementById('${(k !== i) ? [i] : ''}').style.display = 'none'" src="${posts2[k]?.image.toString().trim()}">` : '' %>
                                           
                                           <%- (post[i].comments[j].postedBy.toString().trim() == post[k]?.user.toString().trim()) == true ? `<h1 id="comment"> ${post[i].comments[j].comments} </h1>` : '' %>
                                           
                                           <%- (post[i].comments[j].postedBy.toString().trim() == post[k]?.user.toString().trim()) == true ? `</h1">  `  : '' %> 
                                        </h1>
                                     <% } %>
        
        
                                                    
                            <% } %>
                            </h1>   
                         </div>
                    </div>
                    <form class="col-10 w-100" action="/post/commentPost/<%= post[0]._id %>?_method=PUT" enctype="multipart/form-data" method="POST">
                        <div id="post-comment-box" class="text-center">
                            <input type="text" class="form-control" name="comments" class='sendComment'></input>
                        </div>
                        <button type="submit" class="btn btn-primary text-center w-100 rounded-bottom" value="comments">Post comment!</button>
                    </form>
                </div>
            </div>
            </div>
            </div>
            </div>
            <% } %>